/**
 * @file
 * Accordions, tables, and forms styling. Things that can disrupt the admin theme if included in ckeditor.
 */

/**
 * Accordions.
 *
 * The <details> element has inconsistent browser support and styling, and is
 * not readily animated, so this should only be our accordion solution for simple
 * use cases.
 */
details {
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: var(--border-radius--default);
  margin: calc(2 * var(--spacing--single)) 0;
  padding: calc(.5 * var(--spacing--single)) calc(1.5 * var(--spacing--single));
}
details > summary {
  border-radius: var(--border-radius--default);
  display: block;
  cursor: pointer;
  font-weight: 500;
  line-height: var(--line-height--heading);
  padding: calc(2 * var(--spacing--single)) calc(4 * var(--spacing--single)) calc(2 * var(--spacing--single)) calc(1 * var(--spacing--single));
  position: relative;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  display: none;
}
details > summary:focus {
  box-shadow: 0 0 3px;
  outline: none;
}
details > summary:hover,
details > summary:active,
details > summary:focus-within,
details[open] > summary {
  background-color: rgba(255, 255, 255, 0.5);
}
details > summary::after {
  background-color: var(--color--white);
  border-radius: 50%;
  color: var(--color--third);
  content: '+';
  padding: calc(.5 * var(--spacing--single)) calc(1 * var(--spacing--single));
  position: absolute;
  right: calc(.5 * var(--spacing--single));
  text-align: center;
  top: calc(1.5 * var(--spacing--single));
}
details > summary:hover::after,
details > summary:active::after,
details > summary:focus-within::after,
details[open] > summary::after {
  background-color: var(--color--third);
  color: var(--color--white);
}
details[open] {
  padding-bottom: calc(2 * var(--spacing--single));
}
details[open] > summary {
  margin-bottom: calc(1 * var(--spacing--single));
}
details[open] > summary:after {
  content: '-';
}

/**
 * Tables.
 */
table {
  background-color: transparent;
  border-spacing: 0;
  margin: 0 0 1.5em;
  text-align: left;
  border: 0 none;
}
td,
th {
  padding: calc(.5 * var(--spacing--single)) calc(1 * var(--spacing--single));
  border: 0 none;
}
th {
  font-weight: 500;
}
[colspan] {
  padding: calc(1 * var(--spacing--single));
  text-align: center;
}
thead {
  background-color: var(--color--grey-dark);
  color: var(--color--white);
}
thead th:not(:last-child) {
  border-right: 1px solid var(--color--white);
}
tbody th {
  background-color: var(--color--grey-light);
  border-bottom: 1px solid var(--color--grey);
  color: var(--color--grey-dark);
  padding: calc(.5 * var(--spacing--single)) calc(1 * var(--spacing--single)) calc(2 * var(--spacing--single));
  vertical-align: top;
}
tbody td {
  border-bottom: 1px solid var(--color--grey);
  vertical-align: middle;
}
tbody td:not(:last-child) {
  border-right: 1px solid var(--color--grey-light);
}
tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,.5);
}

/**
 * Forms.
 */
fieldset {
  background-color: rgba(255,255,255,.5);
  border: 1px solid var(--color--grey);
  border-radius: var(--border-radius--default);
  margin: calc(2 * var(--spacing--single)) 0;
  padding: calc(1 * var(--spacing--single)) calc(2 * var(--spacing--single)) calc(2 * var(--spacing--single));
}
legend {
  font-size: .625em;
  font-weight: 900;
  line-height: var(--line-height--heading);
  padding: 0 calc(2 * var(--spacing--single));
  text-align: center;
}
/* Drupal sometimes renders legends containing visually-hidden text. */
legend:has(.visually-hidden) {
  padding: 0;
}

/**
 * Input elements, general styling.
 */
::-webkit-input-placeholder {
  color: var(--color--grey-light);
}
:-moz-placeholder {
  color: var(--color--grey-light);
}
::-moz-placeholder {
  color: var(--color--grey-light);
}
:-ms-input-placeholder {
  color: var(--color--grey-light);
}
::-ms-input-placeholder {
  color: var(--color--grey-light);
}
::placeholder {
  color: var(--color--grey-light);
}

/**
 * Buttons and button-like elements.
 */
button,
input,
select,
textarea {
  background-color: var(--color--white);
  border: 1px solid var(--color--grey);
  border-radius: var(--border-radius--default);
  box-sizing: border-box;
  color: var(--color--grey-dark);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  padding: calc(.5 * var(--spacing--single)) calc(1 * var(--spacing--single));
  transition: var(--transition--default);
  vertical-align: middle;
}
@media all and (max-width: 670px) {
  button,
  input,
  select,
  textarea {
    max-width: 280px;
  }
}
@media all and (min-width: 671px) {
  input:not([type]),
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  input[size],
  select {
    max-width: 415px;
    width: 100%;
  }

  textarea:not([cols]) {
    max-width: 700px; /* Arbitrary, but about right. */
    width: 100%;
  }
}
input[type="date"],
input[type="number"],
input[type="tel"] {
  max-width: 15ch;
}
button,
input {
  line-height: var(--line-height--heading);
}
textarea {
  max-height: inherit;
}

.child-links--as-buttons a,
.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--color--main);
  border: var(--border--default);
  border-radius: var(--border-radius--default);
  color: var(--color--white);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 650;
  line-height: var(--line-height--heading);
  margin: 0 calc(2 * var(--spacing--single)) calc(2 * var(--spacing--single));
  padding: calc(1 * var(--spacing--single)) calc(2 * var(--spacing--single));
  text-align: center;
  text-decoration: none;
  transition: var(--transition--default);
  vertical-align: middle;
}
.child-links--as-buttons a:first-child,
.button:first-child,
a.button:first-child,
button:first-child,
input[type="button"]:first-child,
input[type="reset"]:first-child,
input[type="submit"]:first-child {
  margin-left: 0;
}
.child-links--as-buttons a:first-child,
.button:last-child,
a.button:last-child,
button:last-child,
input[type="button"]:last-child,
input[type="reset"]:last-child,
input[type="submit"]:last-child {
  margin-right: 0;
}
.child-links--as-buttons a:hover,
.button:hover,
a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.child-links--as-buttons a:active,
.button:active,
a.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: var(--color--main-light);
  color: currentColor;
}
.child-links--as-buttons a:focus,
.button:focus,
a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 1px dashed;
  outline-offset: 1px;
}
.child-links--as-buttons a.disabled,
.child-links--as-buttons a[disabled],
.button.disabled,
.button[disabled],
a.button.disabled,
a.button[disabled],
button.disabled,
button[disabled],
input[type="button"].disabled,
input[type="button"][disabled],
input[type="reset"].disabled,
input[type="reset"][disabled],
input[type="submit"].disabled,
input[type="submit"][disabled] {
  background-color: var(--color--grey-dark);
  color: var(--color--white);
  cursor: default;
}

/* Specifically if a button is a link */
a.button {
  text-decoration: underline;
}
a.button:hover,
a.button:active,
a.button:focus-within {
  text-decoration: underline dashed;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}
input:checked + label {
  font-weight: 900;
}

input[type="file"] {
  padding: 2px;
}

input[type="file"]::-webkit-file-upload-button {
  font-size: 0.95em;
  margin: 0;
}

input[type="image"] {
  border: 0 none;
}

label {
  display: block;
}
