/**
 * @file
 * CSS for the main menu toggle and tray. Tentatively for menu dropdowns later.
 *
 * @see https://github.com/jonsuh/hamburgers
 */

.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin-bottom: 0;
  margin-top: 0;
  overflow: visible;
  padding: calc(1.5 * var(--spacing--padding-y)) calc(1.5 * var(--spacing--padding-x));
  text-transform: none;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  transition-timing-function: linear;
}
@media all and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.hamburger-inner {
  display: block;
  margin-top: calc(-0.2 * var(--spacing--margin-y));
  top: 50%;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #000;
  border-radius: 4px;
  height: 4px;
  position: absolute;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease;
  width: 40px;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: calc(-1 * var(--spacing--padding-y));
}
.hamburger-inner::after {
  bottom: calc(-1 * var(--spacing--padding-y));
}


.hamburger--spring .hamburger-inner {
  top: calc(0.2 * var(--spacing--padding-y));
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: calc(1 * var(--spacing--padding-y));
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: calc(2 * var(--spacing--padding-y));
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  background-color: transparent;
  transition-delay: 0.22s;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(0, 10px, 0) rotate(45deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/**
 * Classed menus.
 */
.menu {
  margin: 0;
}
.menu a {
  border-radius: var(--border-radius--default);
  display: block;
  padding: calc(1 * var(--spacing--padding-y)) calc(1.5 * var(--spacing--padding-x));
  text-decoration: none;
}
.menu--main a {
  color: var(--color--main);
  padding: calc(2.25 * var(--spacing--padding-y)) calc(1.5 * var(--spacing--padding-x));
}
.menu a:hover,
.menu a:active,
.menu a:focus,
.menu .is-active {
  background-color: var(--color--main-dark);
  color: var(--color--white);
}
.menu .is-active:hover,
.menu .is-active:active,
.menu .is-active:focus {
  background-color: var(--color--third-dark);
}

/**
 * Mobile menu rows.
 */
@media all and (max-width: 768px) {
  .menu--footer {
    flex-wrap: wrap;
  }
  .menu-item--mobile--full-row {
    align-items: center;
    flex-basis: 100%;
    margin-bottom: calc(0.5 * var(--spacing--margin-y));
  }
  .border-spaced > .menu-item--mobile--full-row {
    border-right: 0 none;
  }
}

/**
 * Toggleable menu tray for mobile.
 */
@media all and (max-width: 1023px) {
  /* When toggle button is clicked, body has a class */
  .mobile--tray--open .page > div,
  .mobile--tray--open .page > footer,
  .mobile--tray--open .page > main {
    position: relative;
    z-index: 0;
  }

  /* Avoid conflict with floating elements when menu tray open. */
  .mobile--tray--open .position--fixed {
    position: relative;
  }

  /* The nav in the header becomes a hidden, toggle-able tray. */
  .mobile--tray {
    background-color: var(--color--main-light);
    bottom: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    left: calc(-1 * calc(100vw - calc(8 * var(--spacing--padding-x))));
    max-height: 100vh;
    overflow-y: auto;
    padding: calc(2 * var(--spacing--padding-y)) calc(2 * var(--spacing--padding-x));
    position: fixed;
    top: 0;
    transition: left 0.3s ease-in;
    width: calc(100vw - calc(8 * var(--spacing--padding-x)));
  }
  .mobile--tray.open {
    box-shadow: 0 0 20px var(--color--main);
    left: 0;
  }
  .mobile--tray .menu {
    flex: 0;
    flex-direction: column;
  }
  .mobile--tray .menu a {
    margin-bottom: calc(0.5 * var(--spacing--margin-y));
    padding: calc(1.5 * var(--spacing--padding-y)) calc(1.5 * var(--spacing--padding-x));
  }
}
