###
# @file
# Directives for git to ignore files, directories, and patterns.
#
# @see https://git.drupalcode.org/project/drupal/-/blob/9.2.x/example.gitignore
# @see https://github.com/acquia/blt-project/blob/11.x/.gitignore
##

# Hidden files, wildcards, etc.
$RECYCLE.BIN/
*.bak
*.css.map
*.db
*.dd
*.elc
*.launch
*.local
*.orig
*.pydevproject
*.sql
*.sql.gz
*.swp
*.tar
*.tar.gz
*.tmp
*~
*~.nib
.\#*
._*
.AppleDouble
.buildpathk
.classpath
.cproject
.DS_Store
.externalToolBuilders/
.idea
.idea/
.loadpath
.LSOverride
.metadata
.phpcs-cache
.project
.rules
.sass-cache
.settings/
.Spotlight-V100
.Trashes
.vagrant/
.vscode
/.drush
/.emacs.desktop
/.emacs.desktop.lock

# Root directories
/components
/files-private
/tmp
/travis_wait*
/vendor
/vendor/
/docroot/core
/docroot/drush
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/sites/*/files
/docroot/sites/*/private
/docroot/sites/*/services*.yml
/docroot/sites/simpletest
/docroot/themes/contrib
/docroot/themes/custom/*/assets/
/docroot/themes/custom/usdoj_uswds/node_modules/
\#*\#

# Files and directories
atlassian-ide-plugin.xml
auto-save-list
deployment_identifier
Desktop.ini
drush/Commands/contrib
drush/sites/.checksums
ehthumbs.db
local.blt.yml
local.drush.yml
local.properties
local.services.yml
local.settings.php
local.site.yml
nbproject
nbproject/*
node_modules/
npm-debug.log
private
private_files
tests/behat/local.yml
tests/output
Thumbs.db
tmp/**
tmp/**/*
tramp
vendor/
docroot/core
docroot/fast404.html
docroot/libraries
docroot/modules/contrib
docroot/profiles/contrib
docroot/robots.txt
docroot/sites/*/files
docroot/sites/*/settings.local.php
docroot/themes/contrib
xhprof_*
