###
# @file
# Directives for git to ignore files, directories, and patterns.
#
# @see https://git.drupalcode.org/project/drupal/-/blob/9.2.x/example.gitignore
# @see https://github.com/acquia/blt-project/blob/11.x/.gitignore
##

# Hidden files, wildcards, etc.
$RECYCLE.BIN/
*.bak
*.css.map
*.db
*.dd
*.elc
*.launch
*.local
*.orig
*.pydevproject
*.sql
*.sql.gz
*.swp
*.tar
*.tar.gz
*.tmp
*~
*~.nib
.\#*
._*
.AppleDouble
.buildpathk
.classpath
.cproject
.DS_Store
.externalToolBuilders/
.idea
.idea/
.loadpath
.LSOverride
.metadata
.phpcs-cache
.project
.rules
.sass-cache
.settings/
.Spotlight-V100
.Trashes
.vagrant/
.vscode
/.drush
/.emacs.desktop
/.emacs.desktop.lock

# Root directories
/components
/files-private
/tmp
/travis_wait*
/vendor
/vendor/
/web/core
/web/drush
/web/libraries
/web/modules/contrib
/web/profiles/contrib
/web/sites/*/files
/web/sites/*/private
/web/sites/*/services*.yml
/web/sites/simpletest
/web/themes/contrib
/web/themes/custom/*/assets/
/web/themes/custom/usdoj_uswds/node_modules/
\#*\#

# Files and directories
atlassian-ide-plugin.xml
auto-save-list
css/
deployment_identifier
Desktop.ini
dist/
drush/Commands/contrib
drush/sites/.checksums
ehthumbs.db
local.blt.yml
local.drush.yml
local.properties
local.services.yml
local.settings.php
local.site.yml
nbproject
nbproject/*
node_modules/
npm-debug.log
private
private_files
tests/behat/local.yml
tests/output
Thumbs.db
tmp/**
tmp/**/*
tramp
vendor/
web/core
web/fast404.html
web/libraries
web/modules/contrib
web/profiles/contrib
web/robots.txt
web/sites/*/files
web/sites/*/settings.local.php
web/themes/contrib
xhprof_*
