{% spaceless %}
  <details{{ attributes|without('class') }}>
    <summary>{{ content.field_title }}</summary>
    <div class="{{ attributes.class }}">
      {{ content|without('field_title', 'contextual_links') }}
    </div>
  </details>
{% endspaceless %}
