/**
 * @file
 * Classes defined and used by Drupal core and any Frost-applicable contrib.
 */

/**
 * Ensure editing pencils are as close to their elements as possible.
 */
[data-quickedit-entity-id] {
  position: relative;
}

/**
 * Commerce cart module layout and theme.
 */
.cart-block--contents {
  background-color: var(--color--white);
  color: var(--color--black);
  display: none;
  position: absolute;
  overflow: hidden;
  width: 225px;
  z-index: 300;
}
.cart-block--contents__inner {
  padding: calc(1 * var(--spacing--single));
}
.cart-block--contents__items {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
}
.cart-block--contents.is-outside-horizontal {
  right: 0;
}
.cart-block--contents__expanded {
  overflow: visible;
}
.cart--cart-block .cart-block--contents a {
  color: inherit;
}
.cart-block--summary,
.cart-block--summary__icon img,
.cart-block--summary__count {
  vertical-align: middle;
}
.cart--cart-block li.cart-block--contents__item {
  clear: both;
  margin-bottom: calc(1 * var(--spacing--single));
  border-bottom: 1px #eaeaea solid;
}
.cart-block--contents__quantity {
  float: left;
}
.cart-block--contents__price {
  float: right;
}

/**
 * Form field and other descriptions.
 */
.description {
  font-size: 1rem;
}

/**
 * Submit button for adding more items to a form.
*/
.field-add-more-submit {
  margin: calc(0.5 * var(--spacing--single)) 0 0;
}

/**
 * Show tags as tags.
 */
.field-formatter--entity-reference-label {
  margin-top: calc(4 * var(--spacing--single));
}
.field-formatter--entity-reference-label > a {
  display: inline-flex;
  margin: 0 calc(2 * var(--spacing--single)) calc(2 * var(--spacing--single)) 0;
  padding: calc(1 * var(--spacing--single)) calc(2 * var(--spacing--single));
}

/**
 * Special tables within forms.
*/
.field-multiple-table {
  margin: 0;
}
.field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0;
}
.field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 5px;
}

/**
 * Social share FAB
 */
.figure--icon {
  height: 32px;
  width: 32px;
}
.figure--icon svg {
  fill: var(--color--white);
}

/**
 * Wrappers around form fields and buttons.
 */
.form-actions,
.form-item {
  margin: 0 0 calc(2 * var(--spacing--single));
  overflow-wrap: break-word;
  word-wrap: break-word;
}
@media all and (min-width: 768px) {
  .form-actions,
  .form-item {
    margin: 0 calc(2 * var(--spacing--single)) calc(2 * var(--spacing--single)) 0;
  }
}

.form-actions input.error,
.form-actions textarea.error,
.form-actions select.error,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid var(--color--third);
}
.form-actions--error-message::before,
.form-item--error-message::before {
  content: '';
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: sub;
  background: url('/core/misc/icons/e32700/error.svg') no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: calc(0.5 * var(--spacing--single));
  margin-bottom: calc(0.5 * var(--spacing--single));
}

.form-composite > legend {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/**
 * Style inline forms to enhance spacing.
 *
 * The main inline form as classed is the search form. Put as much styling for that here as makes sense.
 */
.form--inline {
  margin-bottom: calc(2 * var(--spacing--single));
}
.form--inline > .form-item,
.form--inline > .form-actions {
  margin: 0;
}
.form--inline > .form-actions button {
  margin-bottom: 0;
}

/**
 * Checkbox and radio styling.
 */
.input-and-label {}
.input-and-label label {
  padding: calc(.5 * var(--spacing--single)) calc(1.5 * var(--spacing--single));
}

/**
 * Drupal password strength indicator.
 */
.password-strength {
  max-width: 415px;
}

/**
 * Drupal progress bars (rare).
 */
.progress {}
.progress__track {
  border: 1px solid var(--color--grey-light);
  margin-bottom: calc(2 * var(--spacing--single));
}
.progress__bar {
  background-color: var(--color--second);
  padding: calc(2 * var(--spacing--single)) 0;
}

/**
 * Webform datepicker.
 *
 * In some versions of webform the image is broken, so better to just not display it.
 */
.ui-datepicker-trigger {
  display: none;
}

/**
 * Styles specific to the search form, rather than all inline or Views exposed forms.
 */
.views-exposed-form-search-block-1 {}
.views-exposed-form-search-block-1 > .form-actions button {
  font-size: 0.675rem;
  padding: calc(1 * var(--spacing--single)) calc(1 * var(--spacing--single));
}
.views-exposed-form-search-block-1 .form-text {
  max-width: 140px; /* Magic number fits search box and button on same line in drawer at 320px viewport with wiggle. */
}
@media all and (max-width: 767px) {
  .views-exposed-form-search-block-1 {
    flex-direction: row;
  }
}
