{% if q is not empty %}
  {{ q }}
{% endif %}
{% if toggleable %}
  <button type="button" class="a-reset js--toggle-below filter-toggle show--narrow" aria-expanded="false">
    {{ 'Form filters'|trans }}
    <span class="js--toggle-below--label a11y--visually-hidden">Close below</span>
  </button>
{% endif %}
<div{{ attributes }}>
  {{ form }}
</div>
